:root {
  --primary-color: #f16134 !important;
  --secondary-color: #ffc22a !important;
  --bg-primary-color: #198754 !important;
  --bg-secondary-color: #fff !important;
  --text-primary-color: #ecf2f6;
  --text-secondary-color: #000;
  --btn-primary-color: #ffc22a !important;
  --btn-secondary-color: #a9a9a9 !important;
}

.bg-profile {
  background-image: url(./images/user.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
}

#left-section {
  background-color: var(--bg-primary-color);
}

#me-btn-primary {
  background-color: var(--btn-primary-color);
  color: var(--text-primary-color);
}

#me-btn-secondary {
  background-color: var(--btn-secondary-color);
  color: var(--text-primary-color);
}

.me-advanced-btn {
  font-weight: bolder;
  color: var(--text-secondary-color);
  font-size: 14px;
}
